form {
  display: flex;
  flex-direction: column;
  margin: auto;
}



input, button {
  margin: 5px;
  width: 50vw;
  height: 10vh;
  border: 2px solid white;
  font-size: 18px;
}

button {
  background-color: teal;
  font-family: 'Arial', sans-serif;
}


