.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #F7F8F8;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-size: 1.8em;
  cursor: pointer;
  font-family: fantasy;
}

.nav-link:hover {
  opacity: 0.6;
  transition: 0.3s;
}