.info-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.info-text {
  justify-content: center;
  font-family: fantasy;
  color: black;
  font-size: 4.1em;
  text-align: center;
}